<div class="container pt-3">
  <div class="row bg-light py-3">
    <h2 class="">{{'menu.news.name' | translate}}</h2>
    <nav class="">
      <a class="breadcrumb-item" routerLink="/">{{'menu.home.name' | translate}}</a>
      <span class="brd-separator"> / </span>
      <span class="breadcrumb-item active">{{'menu.news.name' | translate}}</span>
    </nav>
  </div>
  <div class="row py-3 newsList" *ngIf="newsList && newsList.length > 0">
    <div class="row news" *ngFor="let news of newsList">
      <div class="col-12 col-md-4 col-lg-3">
        <img class="image-cover" src="{{baseUrl + news.image.uri}}"/>
      </div>
      <div class="col-12 col-md-8 col-lg-9">
        <h3><a routerLink="{{'menu.news.href' | translate}}/{{news.slug}}">{{news.name}}</a></h3>
        <div class="w-100 pt-2" [innerHTML]="news.description"></div>
      </div>
    </div>
  </div>
  <div class="row mt-3 py-5 bg-light" *ngIf="!newsList || newsList.length === 0">
    <div class="col-12 text-center font-italic">
      {{'news.no_news_available' | translate}}
    </div>
  </div>
</div>
