<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-3 text-gray-800">{{'contact.header' | translate}}</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="my-2 font-weight-bold text-primary">{{'contact.table_name' | translate}}</h6>
    </div>
    <div class="card-body">
      <div class="card-header py-3 d-flex justify-content-end">
        <div class="col-auto px-0 mw-100">
          <form [formGroup]="formSearch" (submit)="search($event)"
                class="form-inline ml-md-3 my-2 my-md-0 mw-100">
            <div class="input-group">
              <input type="text" class="form-control bg-light small" formControlName="keyword"
                     placeholder="{{'contact.table_search' | translate}}"
                     ngbTooltip="{{'contact.table_search_hint' | translate}}" placement="bottom">
              <div class="input-group-append">
                <button class="btn btn-primary">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th>{{'contact.no' | translate}}</th>
              <th>{{'contact.name' | translate}}</th>
              <th>{{'contact.email' | translate}}</th>
              <th>{{'contact.updated_by' | translate}}</th>
              <th>{{'contact.updated_date' | translate}}</th>
              <th>{{'contact.status' | translate}}</th>
              <th class="min"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let contact of contacts, let i = index">
              <td>{{i + 1}}</td>
              <td>{{contact.name}}</td>
              <td>{{contact.email}}</td>
              <td>{{contact.updatedBy?.name}}</td>
              <td>{{contact.updatedBy ? contact.updatedDate : ''}}</td>
              <td>{{getStatusName(contact.status) | translate}}</td>
              <td class="min">
                <a role="button" class="mr-2" (click)="view(viewContact, contact)"><i class="fa fa-eye"></i></a>
                <a role="button" class="mr-2" (click)="updateStatus(contact)"
                   *ngIf="contact.status !== 3 && contact.status !== -1 && contact.status !== -2 && contact.status !== -3">
                  <i class="fa fa-toggle-on"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-md-between mt-3" *ngIf="totalItem >= currentItems">
        <div>
          Showing {{(page - 1) * size + 1}} - {{(page - 1) * size + currentItems}} of {{totalItem}} items
        </div>
        <div>
          <ngb-pagination
            [(page)]="page"
            [pageSize]="size"
            [maxSize]="5"
            [collectionSize]="totalItem"
            [ellipses]="true"
            (pageChange)="onPageChange()"
          >
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>

  <ng-template #viewContact let-modal class="modal-lg">
    <div class="modal-header">
      <div class="w-100">
        <h4
          class="modal-title">{{'contact.header' | translate}}</h4>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row mb-3">
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label>{{'contact.name' | translate}}</label>
            <input class="form-control" [value]="selectedContact.name" readonly>
          </div>
          <div class="form-group pt-2">
            <label>{{'contact.email' | translate}}</label>
            <input class="form-control" [value]="selectedContact.email" readonly>
          </div>
          <div class="form-group pt-2">
            <label>{{'contact.phone_number' | translate}}</label>
            <input class="form-control" [value]="selectedContact.phoneNumber" readonly>
          </div>
          <div class="form-group pt-2">
            <label>{{'contact.status' | translate}}</label>
            <input class="form-control" [value]="getStatusName(selectedContact.status) | translate" readonly>
          </div>
          <div class="form-group pt-2" *ngIf="selectedContact.updatedBy">
            <label>{{'contact.updated_by' | translate}}</label>
            <input class="form-control" [value]="selectedContact.updatedBy?.name" readonly>
          </div>
          <div class="form-group pt-2" *ngIf="selectedContact.updatedBy">
            <label>{{'contact.updated_date' | translate}}</label>
            <input class="form-control" [value]="selectedContact.updatedDate | dateFormat: dateDdmmyyHhmmss" readonly>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group pt-2 pt-md-0">
            <label>{{'contact.content' | translate}}</label>
            <textarea class="form-control" [value]="selectedContact.content" readonly></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-secondary" (click)="modal.dismiss()">
          {{'contact.modal.btn_cancel' | translate}}
        </button>
      </div>
    </div>
  </ng-template>
</div>
<app-confirm
  [title]="updateStatusTitle"
  [content]="updateStatusContent"
></app-confirm>
<app-contact-update-status *ngIf="selectedContact"
                           [status]="selectedContact.status"
></app-contact-update-status>
