<!-- Start Bradcaump area -->
<div class="container">
  <div class="row">
    <h2 class="">{{'menu.cart.name' | translate}}</h2>
    <nav class="">
      <a class="breadcrumb-item" routerLink="/">{{'menu.home.name' | translate}}</a>
      <span class="brd-separator"> / </span>
      <span class="breadcrumb-item active">{{'menu.cart.name' | translate}}</span>
    </nav>
  </div>
</div>
<!-- End Bradcaump area -->
<!-- cart-main-area start -->
<div class="container pt-5">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <form action="#">
        <div class="table-content table-bordered table-responsive">
          <table>
            <thead>
              <tr>
                <th class="product-thumbnail">{{'cart.image' | translate}}</th>
                <th class="product-name">{{'cart.product' | translate}}</th>
                <th class="product-price">{{'cart.price' | translate}}</th>
                <th class="product-quantity">{{'cart.quantity' | translate}}</th>
                <th class="product-subtotal">{{'cart.total' | translate}}</th>
                <th class="product-action"></th>
              </tr>
            </thead>
            <tbody *ngIf="!items && items.length == 0">
              <tr>
                <td colspan="">{{'cart.empty_cart' | translate}}</td>
              </tr>
            </tbody>
            <tbody *ngIf="items && items.length > 0">
              <tr *ngFor="let item of items">
                <td class="product-thumbnail"><a href="#"><img src="{{item.image}}" alt="{{item.name}}"/></a></td>
                <td class="product-name"><a href="#">{{item.name}}</a></td>
                <td class="product-price"><span class="amount">${{item.price}}</span></td>
                <td class="product-quantity">
                  <input type="number" min="1" value="{{item.quantity}}"
                         (change)="updateQuantity(item.id, $event.target.value)"/>
                </td>
                <td class="product-subtotal">${{item.quantity * item.price}}</td>
                <td class="product-remove">
                  <a (click)="removeItem($event, item.id)" class="pointer-event"><i
                    class="fa fa-times-circle text-danger"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-md-8 col-sm-7 col-xs-12">
            <div class="buttons-cart">
              <input type="submit" value="Update Cart"/>
              <a routerLink="/san-pham">Continue Shopping</a>
            </div>
            <div class="coupon">
              <h3>Coupon</h3>
              <p>Enter your coupon code if you have one.</p>
              <input type="text" placeholder="Coupon code"/>
              <input type="submit" value="Apply Coupon"/>
            </div>
          </div>
          <div class="col-md-4 col-sm-5 col-xs-12">
            <div class="row">
              <div class="col-12 text-end text-uppercase">
                <h2>{{'cart.total' | translate}}</h2>
                <div class="row">
                  <div class="col-12 d-flex justify-content-between">
                    <div>{{'cart.price' | translate}}</div>
                    <div><span class="amount">${{totalAmount}}</span></div>
                  </div>
                  <div class="col-12 shipping d-flex justify-content-between">
                    <div>{{'cart.shipping' | translate}}</div>
                    <div>
                      <ul id="shipping_method">
                        <li>
                          <input type="radio"/>
                          <label>
                            Flat Rate: <span class="amount">£7.00</span>
                          </label>
                        </li>
                        <li>
                          <input type="radio"/>
                          <label>
                            Free Shipping
                          </label>
                        </li>
                        <li></li>
                      </ul>
                      <p><a class="shipping-calculator-button" href="#">Calculate Shipping</a></p>
                    </div>
                  </div>
                  <div class="order-total">
                    <p>Total</p>
                    <p>
                      <strong><span class="amount">£215.00</span></strong>
                    </p>
                  </div>
                </div>
                <div class="wc-proceed-to-checkout">
                  <a routerLink="/thanh-toan">{{'cart.btn_checkout' | translate}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- cart-main-area end -->
