<section class="categories-slider-area bg__white">
  <div class="container">
    <div class="row">
      <h2 class="">{{'menu.category.name' | translate}}</h2>
      <nav class="">
        <a class="breadcrumb-item" routerLink="/">{{'menu.home.name' | translate}}</a>
        <span class="brd-separator"> / </span>
        <a class="breadcrumb-item" *ngIf="category" routerLink="{{'menu.category.href' | translate}}">
          {{'menu.category.name' | translate}}
        </a>
        <span class="breadcrumb-item active" *ngIf="!category">
          {{'menu.category.name' | translate}}
        </span>
        <span class="brd-separator" *ngIf="category"> / </span>
        <span class="breadcrumb-item active" *ngIf="category">{{ category.name }}</span>
      </nav>
    </div>
  </div>
  <div class="container pb-3 mt-3">
    <div class="row">
      <div class="col-12 col-md-4 shadow bg-body py-3">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-search"></i> {{'category.search' | translate}}
          </div>
          <div class="card-body">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="{{'category.product_name_placeholder' | translate}}" [(ngModel)]="keyword">
              <span class="input-group-text" id="keyword"><i class="fa fa-search"></i></span>
            </div>
            <hr *ngIf="!category">
            <div class="row mx-auto mb-3" *ngIf="!category && categories && categories.length > 0">
              <div class="col-12 col-md-6 form-check" *ngFor="let c of categories">
                <input id="category-{{c.id}}" class="form-check-input" type="checkbox" name="category" [value]="c.id"
                       [checked]="c.id === category?.id"
                       (change)="chooseCategory(c.id, $event.target.checked)">
                <label class="form-check-label text-truncate" for="category-{{c.id}}">{{c.name}}</label>
              </div>
            </div>
            <hr *ngIf="sliderOptions.floor != sliderOptions.ceil">
            <div class="mb-3" *ngIf="sliderOptions.floor != sliderOptions.ceil">
              <div class="row">
                <div class="col">
                  <label>{{'category.from_price' | translate}}</label>
                  <input class="form-control" [(ngModel)]="minPrice">
                </div>
                <div class="col">
                  <label>{{'category.to_price' | translate}}</label>
                  <input class="form-control" [(ngModel)]="maxPrice">
                </div>
              </div>
              <ngx-slider [(value)]="minPrice" [(highValue)]="maxPrice" [options]="sliderOptions"></ngx-slider>
            </div>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <button class="btn btn-outline-primary" (click)="search()">{{'category.search' | translate}}</button>
            <button class="btn btn-outline-info" (click)="clearFilter()">{{'category.clear_filter' | translate}}</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-8 shadow bg-body py-3">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-pie"></i> {{'category.products' | translate}}
          </div>
          <div class="card-body items">
            <div class="row">
              <div class="col-sm-12 col-md-4 col-lg-3" *ngFor="let p of products">
                <div class="item">
                  <div class="item-image">
                    <img src="{{baseUrl + p.images[0].uri}}" alt="{{p.description}}">
                  </div>
                  <a class="item-name" [ngbTooltip]="p.name"
                     routerLink="{{'menu.product.href' | translate}}/{{p.slug}}">{{p.name}}</a>
                  <p class="item-price">{{p.price | numberFormat}} {{'vnd' | translate}}</p>
                  <button class="btn btn-outline-primary" (click)="showAddToCartModal(p)">
                    <span class="d-sm-inline d-md-none d-lg-inline">{{'cart.btn_add_to_cart' | translate}} </span>
                    <i class="d-inline d-lg-none d-xl-inline fa fa-cart-plus"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-add-to-card #addToCardModal
                   [product]="currentProduct">
  </app-add-to-card>
</section>
