.nav-item.topbar {
  background-color: #ed5565;
  color: #fff;
}

.nav-item {
  background-color: #000;
}

.nav-item .nav-link {
  color: #fff;
}

.nav-item .nav-link:active, .nav-item .nav-link:hover {
  color: #5bbd2a;
}

.nav-item .nav-link:disabled {
  color: rgba(0, 0, 0, .3);
}
