<div class="container py-3">
  <div class="row">
    <div class="col-sm-12 col-md-4" *ngIf="categories && categories.length > 0">
      <ul class="nav navbar-light flex-column">
        <li class="nav-item px-2 text-white topbar">
          <h3>Danh mục</h3>
        </li>
        <li class="nav-item" [ngClass]="{'dropdown': c.childs && c.childs.length > 0}"
            *ngFor="let c of categories"
            [routerLinkActive]="'active'">
          <a class="nav-link" routerLink="/danh-muc/{{c.slug}}">{{c.name}}</a>
          <ul class="nav navbar-light flex-column pl-3" *ngIf="c.childs && c.childs.length > 0">
            <li class="nav-item" *ngFor="let child of c.childs"
                [routerLinkActive]="'active'"
                [routerLinkActiveOptions]="{exact: true}">
              <a class="nav-link" routerLink="/danh-muc/{{c.slug}}/{{child.slug}}"><small>{{child.name}}</small></a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-8">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-pie"></i> Sản phẩm
        </div>
        <div class="card-body items">
          <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-3" *ngFor="let p of products">
              <div class="item">
                <div class="item-image">
                  <img src="{{baseUrl + p.images[0].uri}}" alt="{{p.description}}">
                </div>
                <a class="item-name" [ngbTooltip]="p.name" routerLink="/{{'menu.product.href' | translate}}/{{p.slug}}">{{p.name}}</a>
                <p class="item-price">{{p.price | numberFormat}} {{'vnd' | translate}}</p>
                <button class="btn btn-outline-primary" (click)="showAddToCartModal(p)">
                  <span class="d-sm-inline d-md-none d-lg-inline">{{'cart.btn_add_to_cart' | translate}} </span>
                  <i class="d-inline d-lg-none d-xl-inline fa fa-cart-plus"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-add-to-card #addToCardModal
                 [product]="currentProduct">
</app-add-to-card>
