<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-3 text-gray-800">{{'user.header' | translate}}</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="my-2 font-weight-bold text-primary">{{'user.table_name' | translate}}</h6>
    </div>
    <div class="card-body">
      <div class="card-header py-3 d-flex justify-content-between">
        <div class="col-auto px-0">
          <button class="btn btn-primary" (click)="openModal(user)">{{'user.btn_new' | translate}}</button>
        </div>
        <div class="col-auto px-0">
          <form [formGroup]="formSearch" (submit)="search($event)"
                class="d-none d-sm-inline-block form-inline ml-md-3 my-2 my-md-0 mw-100">
            <div class="input-group">
              <input type="text" class="form-control bg-light small" formControlName="keyword"
                     placeholder="{{'user.table_search' | translate}}"
                     aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary">
                  <i class="far fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th>{{'user.no' | translate}}</th>
              <th>{{'user.username' | translate}}</th>
              <th>{{'user.name' | translate}}</th>
              <th>{{'user.email' | translate}}</th>
              <th>{{'user.created_date' | translate}}</th>
              <th>{{'user.updated_date' | translate}}</th>
              <th>{{'user.status' | translate}}</th>
              <th class="min"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let u of users, let i = index">
              <td>{{i + 1}}</td>
              <td>{{u.username}}</td>
              <td>{{u.name}}</td>
              <td>{{u.email}}</td>
              <td>{{u.createdDate | dateFormat: dateDdmmyyHhmmss}}</td>
              <td>{{u.updatedDate | dateFormat: dateDdmmyyHhmmss}}</td>
              <td>{{getStatusName(u.status) | translate}}</td>
              <td class="min">
                <a role="button" class="mr-2" (click)="delete(deleteUser, u)"><i class="far fa-trash-alt"></i></a>
                <a role="button" class="mr-2" (click)="openModal(user, u)">
                  <i class="far fa-edit"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-md-between mt-3" *ngIf="totalItem >= currentItems">
        <div>
          Showing {{(page - 1) * size + 1}} - {{(page - 1) * size + currentItems}} of {{totalItem}} items
        </div>
        <div>
          <ngb-pagination
            [(page)]="page"
            [pageSize]="size"
            [maxSize]="5"
            [collectionSize]="totalItem"
            [ellipses]="true"
            (pageChange)="onPageChange()"
          >
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>

  <ng-template #user let-modal>
    <div class="modal-header">
      <div class="w-100">
        <h4
          class="modal-title">{{(selectedUser ? 'user.modal.title_update' : 'user.modal.title_add') | translate}}</h4>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="formUpdate">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <label>{{'user.username' | translate}}</label>
              <input type="text" class="form-control" placeholder="{{'user.username_placeholder' | translate}}"
                     formControlName="username">
              <small class="form-text text-danger" *ngIf="submitted && formUpdate.controls.username.invalid">
                {{'user.username_not_blank' | translate}}
              </small>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <label>{{'user.name' | translate}}</label>
              <input type="text" class="form-control" placeholder="{{'user.name_placeholder' | translate}}"
                     formControlName="name">
              <small class="form-text text-danger" *ngIf="submitted && formUpdate.controls.name.invalid">
                {{'user.name_not_blank' | translate}}
              </small>
            </div>
          </div>
          <div class="col-md-12 col-sm-12">
            <div class="form-group">
              <label>{{'user.email' | translate}}</label>
              <input type="email" class="form-control" placeholder="{{'user.email_placeholder' | translate}}"
                     formControlName="email">
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <label>{{'user.password' | translate}}</label>
              <input type="password" class="form-control" placeholder="{{'user.password_placeholder' | translate}}"
                     formControlName="password">
              <small class="form-text text-danger" *ngIf="submitted && formUpdate.controls.status.invalid">
                {{'user.password_not_blank' | translate}}
              </small>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <label>{{'user.status' | translate}}</label>
              <select class="form-control" formControlName="status">
                <option value="">{{'choose' | translate}}</option>
                <option *ngFor="let s of statuses" [value]="s.value">{{s.name | translate}}</option>
              </select>
              <small class="form-text text-danger" *ngIf="submitted && formUpdate.controls.status.invalid">
                {{'user.status_error' | translate}}
              </small>
            </div>
          </div>
          <div class="col-md-12 col-sm-12">
            <div class="form-group">
              <label>{{'user.role' | translate}}</label>
              <div ngbDropdown class="d-inline-block w-100">
                <input class="form-control" [value]="selectedRoleNames" readonly ngbDropdownToggle/>
                <div ngbDropdownMenu class="w-100">
                  <div class="border-1 p-2 w-100 text--black" *ngFor="let r of roles" role="button"
                       (click)="toggleRole($event, r.id)">
                    <input type="checkbox" [checked]="selectedRoleIds.includes(r.id)"
                           (change)="toggleRole($event, r.id)"> {{r.name}}
                  </div>
                </div>
              </div>
              <small class="form-text text-danger" *ngIf="submitted && formUpdate.controls.roleIds.invalid">
                {{'user.role_error' | translate}}
              </small>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-outline-secondary" (click)="modal.dismiss()">
        {{'user.modal.btn_cancel' | translate}}
      </button>
      <button class="btn btn-outline-primary" (click)="submit(modal)">
        {{'user.modal.btn_submit' | translate}}
      </button>
    </div>
  </ng-template>
  <ng-template #deleteUser let-modal>
    <div class="modal-header">
      <div class="w-100">
        <h4 class="modal-title text-left font-weight-bold">{{'user.modal.title_delete' | translate}}</h4>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body"
         innerHtml="{{'user.modal.message_delete' | translate : {name: selectedUser?.name} }}">
    </div>
    <div class="modal-footer">
      <button class="btn btn-outline-secondary" (click)="modal.dismiss()">
        {{'user.modal.btn_cancel' | translate}}
      </button>
      <button class="btn btn-outline-danger" (click)="modal.close('ok')">
        {{'user.modal.btn_delete' | translate}}
      </button>
    </div>
  </ng-template>
</div>
