<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-dark">
		<div class="container">
			<a class="navbar-brand" href="#">Navbar</a>
		</div>
	</nav>
	<div class="container w-100">
		<div class="d-flex justify-content-between w-100">
			<div class="w-100" style="background: red">
				Left
			</div>
			<div class="w-100" style="background: blue">
				Right
			</div>
		</div>
	</div>
</body>
</html>