<ng-template #modal class="modal fade rounded" let-modal>
  <div class="modal-header">
    <h4>Giỏ hàng</h4>
    <button class="close" type="button" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body px-0 py-2">
    <div class="row item">
      <div class="col-12 col-md-6">
        <img class="img img-fluid" src="{{imageVisible}}" alt="{{product?.name}}"/>
        <app-slider-image
          [images]="product?.images"
          (changeEvent)="changeImage($event)"
        ></app-slider-image>
      </div>
      <div class="col-12 col-md-6">
        <p class="item-name">{{product?.name}}</p>
        <p class="item-description">{{price | numberFormat}} {{'vnd' | translate}}</p>
        <p class="item-description">{{product?.description}}</p>
        <div *ngIf="optionTypes && optionTypes.length > 0">
          <div *ngFor="let ot of product?.optionTypes, index as i">
            <p class="mb-0">{{ot.name}}</p>
            <div class="form-check form-check-inline" *ngFor="let o of ot.options">
              <input class="form-check-input" type="radio" value="{{o.id}}" id="option_type_{{ot.id}}"
                     name="option_type_{{ot.id}}" (click)="chooseOption(ot.id, o.id)">
              <label class="form-check-label" for="option_type_{{ot.id}}">{{o.value}}</label>
            </div>
          </div>
        </div>
        <div class="w-100 d-flex flex-row justify-content-between mb-3">
          <span class="my-auto">{{'cart.quantity_less' | translate}}</span>
          <div class="w-auto d-flex flex-row justify-content-between mx-3">
            <span role="button" class="my-auto" (click)="decreaseQuantity()"><i class="far fa-minus-circle"></i></span>
            <input numberInput class="form-control w-50" [(ngModel)]="quantity">
            <span role="button" class="my-auto" (click)="increaseQuantity()"><i class="far fa-plus-circle"></i></span>
          </div>
        </div>
        <button class="btn btn-outline-primary" (click)="save(modal)">Thêm vào giỏ hàng</button>
      </div>
    </div>
  </div>
</ng-template>
