<ng-template #modal class="modal fade rounded" let-modal>
  <div class="modal-header">
    <h4>Giỏ hàng</h4>
    <button class="close" type="button" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body px-0 py-2">
    <div class="row item">
      <div class="col-12 col-md-6">
        <img class="img img-fluid" src="{{imageVisible}}" alt="{{product?.name}}"/>
      </div>
      <div class="col-12 col-md-6">
        <p class="item-name">{{product?.name}}</p>
        <p class="item-description">{{product?.description}}</p>
        <button class="btn btn-outline-primary" (click)="save()">Add To Cart</button>
      </div>
    </div>
  </div>
</ng-template>
