@font-face {
  font-family: 'fontawesome';
  src: url(./../../../../assets/font/font-awesome-pro/fonts/fa-solid-900.woff) format('woff');
}

.page_login {
  background: url("src/assets/image/banner.jpg");
  background-size: 100% 100%;
  font: normal normal 13px/17px 'roboto_r';
  color: #000;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.login_main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 45px);
  max-width: 100%;
}

.footer {
  text-align: center;
  padding: 10px 0;
  background: #ebebeb;
}

.login_content {
  width: 420px;
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: 30px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.orElseLog {
  font-family: Tahoma;
  font-size: 15px;
  margin: 15px 0;
  color: #187EFB;
  font-weight: 500;
}

.logo-login {
  padding: 0px 0 15px;
}

.logo-login {
  padding: 0px 0 15px;
}

.login-text, .login-pass {
  margin-bottom: 20px;
  position: relative;
}

.login_main .alert {
  padding: 10px;
  font-family: Tahoma;
  font-size: 13px;
}

.login-text input, .login-pass input {
  padding: 0 40px;
  border-radius: 3px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #4e4e4e;
  height: 45px;
  line-height: 45px;
}

.login_remember #login_ibtnLogin {
  background: #187EFB;
  color: #fff;
  text-align: center;
  font-size: 17px;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  font-family: Tahoma;
}

.login_remember .buttonSSO {
  background: #405992;
  margin-top: 10px;
  text-align: center;
  font-size: 17px;
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #fff;
}

.login_remember .buttonSSO:hover {
  color: #fff;
}

.login-text-input {
  position: relative;
}

.login-text-input::before {
  content: "\f007";
  font-family: fontawesome;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  z-index: 1;
  font-size: 18px;
  color: #ababab;
}

.login-pass::before {
  content: "\f023";
  font-family: fontawesome;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  z-index: 1;
  font-size: 18px;
  color: #ababab;
}

.group-gen-cap.login-text {
  display: flex;
  position: relative;
}

.group-gen-cap i {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  font-size: 18px;
  color: #ababab;
}

.check-captcha .text-danger {
  margin: 10px;
  font-family: Tahoma;
}

.group-gen-cap input {
  padding-right: 5px !important;
  margin-right: 5px;
  font-size: 15px !important;
}

.buttonSSO img {
  width: 40px;
}

.group-gen-cap.login-text.activeClass i {
  color: #5bbd2a;
}

.group-gen-cap.login-text.failActive i {
  color: #f75052;
}

@media screen and (max-width: 767px) {
  .page_login {
    background: #eaeaea;
  }

  .login_content {
    width: 100%;
    padding: 20px;
  }

  .ant-form {
    width: 100%;
  }
}

.forget-password {
  font-family: Tahoma;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.forget-password a {
  font-size: 14px;
  color: deepskyblue;
}

.forget-password a:hover {
  color: darkslategrey;
}
