<div class="page_login ">
  <div class="container">
    <div class="login_main">
      <form [formGroup]="loginForm" (ngSubmit)="submitForm($event)">
        <div class="login_content">
          <div class="logo-login">
            <img class="logo" src="assets/image/logo.svg" alt="logo"/>
          </div>
          <div class="login-text">
            <div class="login-text-input">
              <input type="text" autofocus="autofocus" formControlName="username" class="form-control"
                     [ngClass]="{'is-invalid': submitted && loginForm.controls.username.invalid}"
                     placeholder="{{ 'login_page.username' | translate }}"/>
            </div>
            <div>
              <small class="form-text text-danger text-left" *ngIf="submitted && loginForm.controls.username.invalid">
                {{'login_page.username_required' | translate}}
              </small>
            </div>
          </div>
          <div class="login-text">
            <div class="login-text-input">
              <input type="password" formControlName="password" class="form-control"
                     [ngClass]="{'is-invalid': submitted && loginForm.controls.password.invalid}"
                     placeholder="{{ 'login_page.password' | translate }}"/>
            </div>
            <div>
              <small class="form-text text-danger text-left" *ngIf="submitted && loginForm.controls.password.invalid">
                {{'login_page.password_required' | translate}}
              </small>
            </div>
          </div>
          <div *ngIf="messageError">
            <div class="alert alert-danger" role="alert">
              {{messageError}}
            </div>
          </div>
          <div>
            <button class="btn btn-primary">{{ "login_page.sign_in" | translate }}</button>
          </div>
          <div class="forget-password" style="margin-top: 20px">
            <a style="float: right; color: #187EFB" routerLink="/admin/forget-password">Quên mật khẩu?</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
