<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
    [ngClass]="{'toggled': this.adminService.sidebarToggled}">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/admin">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fal fa-pie"></i>
    </div>
    <div class="sidebar-brand-text mx-3">{{'logo_text' | translate}}</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
    <a class="nav-link" routerLink="{{'menu.admin.home.href' | translate}}">
      <i class="fal fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <div class="sidebar-heading">
    {{'menu.admin.management.name' | translate}}
  </div>
  <li class="nav-item" [routerLinkActive]="'active'">
    <a class="nav-link" routerLink="{{'menu.admin.category.href' | translate}}">
      <i class="fal fa-fw fa-list"></i>
      <span>{{'menu.admin.category.name' | translate}}</span>
    </a>
  </li>
  <li class="nav-item" [routerLinkActive]="'active'">
    <a class="nav-link" routerLink="{{'menu.admin.product.href' | translate}}">
      <i class="fal fa-fw fa-birthday-cake"></i>
      <span>{{'menu.admin.product.name' | translate}}</span>
    </a>
  </li>
  <li class="nav-item" [routerLinkActive]="'active'">
    <a class="nav-link" routerLink="{{'menu.admin.option_type.href' | translate}}">
      <i class="fal fa-fw fa-palette"></i>
      <span>{{'menu.admin.option_type.name' | translate}}</span>
    </a>
  </li>
  <li class="nav-item" [routerLinkActive]="'active'">
    <a class="nav-link" routerLink="{{'menu.admin.voucher.href' | translate}}">
      <i class="fal fa-fw fa-gift-card"></i>
      <span>{{'menu.admin.voucher.name' | translate}}</span>
    </a>
  </li>
  <hr class="sidebar-divider">
  <div class="sidebar-heading">
    {{'menu.admin.invoice.name' | translate}}
  </div>
  <li class="nav-item" [routerLinkActive]="'active'">
    <a class="nav-link" routerLink="{{'menu.admin.invoice.href' | translate}}">
      <i class="fal fa-fw fa-receipt"></i>
      <span>{{'menu.admin.invoice.name' | translate}}</span>
    </a>
  </li>
  <hr class="sidebar-divider">
  <div class="sidebar-heading">
    {{'menu.admin.template.name' | translate}}
  </div>
  <li class="nav-item" [routerLinkActive]="'active'">
    <a class="nav-link" routerLink="{{'menu.admin.mail_template.href' | translate}}">
      <i class="fal fa-fw fa-mail-bulk"></i>
      <span>{{'menu.admin.mail_template.name' | translate}}</span>
    </a>
  </li>
  <hr class="sidebar-divider">
  <div class="sidebar-heading">
    {{'menu.admin.news.name' | translate}}
  </div>
  <li class="nav-item" [routerLinkActive]="'active'">
    <a class="nav-link" routerLink="{{'menu.admin.news.href' | translate}}">
      <i class="fal fa-fw fa-newspaper"></i>
      <span>{{'menu.admin.news.name' | translate}}</span>
    </a>
  </li>
  <hr class="sidebar-divider">
  <div class="sidebar-heading">
    {{'menu.admin.user_role.name' | translate}}
  </div>
  <li class="nav-item" [routerLinkActive]="'active'">
    <a class="nav-link" routerLink="{{'menu.admin.user.href' | translate}}">
      <i class="fal fa-fw fa-users"></i>
      <span>{{'menu.admin.user.name' | translate}}</span>
    </a>
  </li>
  <li class="nav-item" [routerLinkActive]="'active'">
    <a class="nav-link" routerLink="{{'menu.admin.role.href' | translate}}">
      <i class="fal fa-fw fa-user-tag"></i>
      <span>{{'menu.admin.role.name' | translate}}</span>
    </a>
  </li>
  <li class="nav-item" [routerLinkActive]="'active'">
    <a class="nav-link" routerLink="{{'menu.admin.action.href' | translate}}">
      <i class="fal fa-fw fa-pencil-ruler"></i>
      <span>{{'menu.admin.action.name' | translate}}</span>
    </a>
  </li>

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0 sidebar-toggle" (click)="toggleSidebar()"></button>
  </div>
</ul>
