<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-3 text-gray-800">{{'category.header' | translate}}</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="my-2 font-weight-bold text-primary">{{'category.table_name' | translate}}</h6>
    </div>
    <div class="card-body">
      <div class="card-header py-3 d-flex justify-content-between">
        <div class="col-auto px-0">
          <button class="btn btn-primary" (click)="openModal(category)">{{'category.btn_new' | translate}}</button>
        </div>
        <div class="col-auto px-0">
          <form [formGroup]="formSearch" (submit)="search($event)"
                class="d-none d-sm-inline-block form-inline ml-md-3 my-2 my-md-0 mw-100">
            <div class="input-group">
              <input type="text" class="form-control bg-light small" formControlName="keyword"
                     placeholder="{{'category.table_search' | translate}}"
                     aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th>{{'category.no' | translate}}</th>
              <th>{{'category.name' | translate}}</th>
              <th>{{'category.description' | translate}}</th>
              <th>{{'category.parent_name' | translate}}</th>
              <th>{{'category.created_date' | translate}}</th>
              <th>{{'category.created_by' | translate}}</th>
              <th>{{'category.updated_date' | translate}}</th>
              <th>{{'category.updated_by' | translate}}</th>
              <th>{{'category.status' | translate}}</th>
              <th class="min"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of categories, let i = index">
              <td>{{i + 1}}</td>
              <td>{{c.name}}</td>
              <td>{{c.description}}</td>
              <td>{{c.parent?.name}}</td>
              <td>{{c.createdDate | dateFormat: dateDdmmyyHhmmss}}</td>
              <td>{{c.createdBy?.name}}</td>
              <td>{{c.updatedDate | dateFormat: dateDdmmyyHhmmss}}</td>
              <td>{{c.updatedBy?.name}}</td>
              <td>{{getStatusName(c.status)}}</td>
              <td class="min">
                <a role="button" class="mr-2" (click)="delete(deleteCategory, c)"><i class="fa fa-trash-alt"></i></a>
                <a role="button" class="mr-2" (click)="openModal(category, c)"><i
                  class="fa fa-edit"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <ng-template #category let-modal>
    <div class="modal-header">
      <div class="w-100">
        <h4
          class="modal-title">{{(selectedCategory ? 'category.modal.title_update' : 'category.modal.title_add') | translate}}</h4>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="formUpdate">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <label>{{'category.name' | translate}}</label>
              <input type="text" class="form-control" placeholder="{{'category.name_placeholder' | translate}}"
                     formControlName="name">
              <small class="form-text text-danger" *ngIf="submitted && formUpdate.controls.name.invalid">
                {{'category.name_not_blank' | translate}}
              </small>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <label>{{'category.description' | translate}}</label>
              <input type="text" class="form-control" placeholder="{{'category.description_placeholder' | translate}}"
                     formControlName="description">
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <label>{{'category.parent_name' | translate}}</label>
              <select class="form-control" formControlName="parentId">
                <option value="">Chọn</option>
                <option *ngFor="let c of parentCategories" [value]="c.id">{{c.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <label>{{'category.status' | translate}}</label>
              <select class="form-control" formControlName="status">
                <option value="">Chọn</option>
                <option *ngFor="let s of statuses" [value]="s.value">{{s.name}}</option>
              </select>
              <small class="form-text text-danger" *ngIf="submitted && formUpdate.controls.status.invalid">
                {{'category.status_error' | translate}}
              </small>
              <small class="form-text text-danger" *ngIf="submitted && formUpdate.controls.status.valid">
                {{'value:' + formUpdate.controls.status.value}}
              </small>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-outline-secondary" (click)="modal.dismiss()">
        {{'category.modal.btn_cancel' | translate}}
      </button>
      <button class="btn btn-outline-primary" (click)="submit(modal)">
        {{'category.modal.btn_submit' | translate}}
      </button>
    </div>
  </ng-template>
  <ng-template #deleteCategory let-modalDelete>
    <div class="modal-header">
      <div class="w-100">
        <h4 class="modal-title text-left font-weight-bold">{{'category.modal.title_delete' | translate}}</h4>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="modalDelete.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body"
         innerHtml="{{'category.modal.message_delete' | translate : {name: selectedCategory?.name} }}">
    </div>
    <div class="modal-footer">
      <button class="btn btn-outline-secondary" (click)="modalDelete.dismiss()">
        {{'category.modal.btn_cancel' | translate}}
      </button>
      <button class="btn btn-outline-danger" (click)="modalDelete.close('ok')">
        {{'category.modal.btn_delete' | translate}}
      </button>
    </div>
  </ng-template>
</div>
