<!-- Start Bradcaump area -->
<div class="container">
  <div class="row">
    <h2 class="">{{'menu.cart.name' | translate}}</h2>
    <nav class="">
      <a class="breadcrumb-item" routerLink="/">{{'menu.home.name' | translate}}</a>
      <span class="brd-separator"> / </span>
      <span class="breadcrumb-item active">{{'menu.cart.name' | translate}}</span>
    </nav>
  </div>
</div>
<!-- End Bradcaump area -->
<!-- cart-main-area start -->
<div class="container pt-5">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 cart-table">
      <form action="#">
        <div class="row">
          <table class="table table-content table-bordered table-responsive table-hover">
            <thead class="bg-primary">
              <tr>
                <th class="product-thumbnail">{{'cart.image' | translate}}</th>
                <th class="product-name">{{'cart.product' | translate}}</th>
                <th class="product-price">{{'cart.price' | translate}}</th>
                <th class="product-quantity">{{'cart.quantity' | translate}}</th>
                <th class="product-subtotal">{{'cart.total' | translate}}</th>
                <th class="product-action"></th>
              </tr>
            </thead>
            <tbody *ngIf="!items && items.length == 0">
              <tr>
                <td colspan="">{{'cart.empty_cart' | translate}}</td>
              </tr>
            </tbody>
            <tbody *ngIf="items && items.length > 0">
              <tr *ngFor="let item of items">
                <td class="product-thumbnail">
                  <a routerLink="/san-pham/{{item.product.slug}}">
                    <img src="{{baseUrl + item.product.images[0].uri}}" alt="{{item.product.name}}"/>
                  </a>
                </td>
                <td class="product-name">
                  <a routerLink="/san-pham/{{item.product.slug}}">{{item.product.name}}</a>
                </td>
                <td class="product-price"><span
                  class="amount">{{item.price | numberFormat}} {{'vnd' | translate}}</span></td>
                <td class="product-quantity">
                  <input type="number" min="1" value="{{item.quantity}}"
                         (change)="updateQuantity(item.product.id, $event.target.value)"/>
                </td>
                <td class="product-subtotal">{{item.quantity * item.price | numberFormat}} {{'vnd' | translate}}</td>
                <td class="product-remove">
                  <a href="#" (click)="removeItem($event, item.id)"><i class="far fa-times-circle text-danger"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-md-8 col-sm-7 col-xs-12">
            <div class="buttons-cart">
              <a class="btn btn-outline-info" routerLink="/san-pham">{{'cart.continue_shopping' | translate}}</a>
            </div>
            <div class="coupon mt-3">
              <h3>Mã giảm giá</h3>
              <p>Nhập mã giảm giá.</p>
              <input type="text" class="form-control" placeholder="Coupon code"/>
              <button class="btn btn-outline-primary">Áp dụng</button>
            </div>
          </div>
          <div class="col-md-4 col-sm-5 col-xs-12">
            <div class="row">
              <div class="col-12 text-end">
                <h2>{{'cart.total' | translate}}</h2>
                <div class="row">
                  <div class="col-12 d-flex justify-content-end">
                    <div><span class="amount">{{totalAmount | numberFormat}} {{'vnd' | translate}}</span></div>
                  </div>
                </div>
                <div class="wc-proceed-to-checkout mt-2">
                  <a class="btn btn-outline-primary" routerLink="/thanh-toan">{{'cart.btn_checkout' | translate}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- cart-main-area end -->
