<header class="bg-light">
  <div class="col-12 d-flex justify-content-between navbar-light topbar align-items-end">
    <div class="nav-item navbar-nav">
      <a class="nav-link dropdown-toggle" role="button"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-globe"></i>
      </a>
      <div class="language-popup dropdown-list dropdown-menu dropdown-menu-left shadow animated--grow-down"
           aria-labelledby="language">
        <a class="dropdown-item" role="button" [ngClass]="{'active': lang === 'vn'}"
           (click)="changeLanguage($event, 'vn')">
          {{'language.vn.name' | translate}}
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" role="button" [ngClass]="{'active': lang === 'en'}"
           (click)="changeLanguage($event, 'en')">
          {{'language.en.name' | translate}}
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-2">
      <img class="img logo" src="/assets/image/logo.svg" alt="logo"/>
    </div>

    <div class="nav-item navbar-nav">
      <a class="nav-link" role="button" (click)="open(cart_modal)">
        <i class="fas fa-shopping-cart"></i>
        <span class="badge bg-danger badge-counter">{{itemAmount > 3 ? '3+' : itemAmount}}</span>
      </a>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="{{'menu.home.href' | translate}}">{{'menu.home.name' | translate}}</a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
          <a class="nav-link" routerLink="{{'menu.about.href' | translate}}">{{'menu.about.name' | translate}}</a>
        </li>
        <li class="nav-item dropdown" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="{{'menu.category.href' | translate}}">{{'menu.category.name' | translate}}</a>
          <div class="dropdown-menu">
            <a *ngFor="let c of categories" [routerLinkActive]="'active'" class="dropdown-item"
               href="/danh-muc/{{c.slug}}">{{c.name}}
              <div *ngIf="c.childs && c.childs.length > 0">
                <a *ngFor="let child of c.childs" class="dropdown-child-item"
                   href="/danh-muc/{{c.slug}}/{{child.slug}}">{{child.name}}</a>
              </div>
            </a>
          </div>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
          <a class="nav-link" routerLink="{{'menu.product.href' | translate}}">{{'menu.product.name' | translate}}</a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
          <a class="nav-link" routerLink="{{'menu.new.href' | translate}}">{{'menu.new.name' | translate}}</a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
          <a class="nav-link" routerLink="{{'menu.contact.href' | translate}}">{{'menu.contact.name' | translate}}</a>
        </li>
      </ul>
    </div>
    <div class="topbar float-right">
      <a class="nav-link" role="button" (click)="toggleSearch()">
        <i class="fas fa-search"></i>
      </a>
    </div>
  </nav>
</header>
<!-- Start Search Popup -->
<div class="search_area bg-secondary" [ngClass]="{'search_box_show_hide': searching}">
  <div class="container">
    <div class="row">
      <div class="col-md-12 my-5">
        <form class="form-inline mr-auto mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
          <div class="input-group col">
            <input type="text" class="form-control small" placeholder="Search for..."
                   aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">
                <i class="fas fa-search fa-sm"></i>
              </button>
            </div>
          </div>
          <div class="search_close_btn" role="button">
            <span class="search_close_btn_icon" (click)="toggleSearch()"><i class="fa fa-times-circle"></i></span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End Search Popup -->
<!-- Start Cart Panel -->
<ng-template #cart_modal let-modal>
  <div class="cart">
    <div class="modal-header">
      <div class="w-100">
        <h4 class="modal-title">{{'cart.title' | translate}}</h4>
        <h5 class="modal-sub-title">
          <span class="text-primary">{{itemAmount}}</span> {{'cart.amount' | translate}}
        </h5>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngIf="items && items.length > 0">
        <div *ngFor="let item of items | slice:0:2" class="cart-item">
          <div class="cart_thumb">
            <a href="#">
              <img src="{{item.product.images[0]}}" alt="product images">
            </a>
          </div>
          <div class="cart_details">
            <h2><a routerLink="/product/{{item.product.slug}}">{{item.product.name}}</a></h2>
            <span class="quantity">QTY: {{item.quantity}}</span>
            <span class="shp__price">${{item.price}}</span>
          </div>
          <div class="remove__btn">
            <a href="#" title="Remove this item" (click)="removeItem($event, item.product.id)"><i
              class="zmdi zmdi-close"></i></a>
          </div>
        </div>
        <div *ngIf="items && items.length > 2">
          <p class="ps-1 fst-italic">{{'cart.text_more' | translate}}</p>
        </div>
      </div>
      <div *ngIf="items && items.length == 0" class="m-3">
        <p class="w-100 text-center font-italic">{{'cart.empty_cart'|translate}}</p>
      </div>
      <ul *ngIf="items && items.length > 0" class="shoping__total">
        <li class="subtotal">{{'cart.total' | translate}}</li>
        <li class="total__price">${{totalAmount}}</li>
      </ul>
    </div>
    <div class="modal-footer">
      <a class="btn btn-outline-info" routerLink="{{'menu.cart.href' | translate}}" (click)="modal.dismiss()">
        {{'cart.btn_view_cart' | translate}}
      </a>
      <a class="btn btn-outline-info" routerLink="{{'menu.checkout.href' | translate}}" (click)="modal.dismiss()">
        {{'cart.btn_checkout' | translate}}
      </a>
    </div>
  </div>
</ng-template>
<!-- End Cart Panel -->
