<header id="header" class="htc-header header--3 bg__white">
  <!-- Start Mainmenu Area -->
  <div id="sticky-header-with-topbar" class="mainmenu__area sticky__header">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-lg-2 col-sm-3 col-xs-3">
          <div class="logo">
            <a routerLink="/">
              <img src="/assets/image/logo.svg" alt="logo">
            </a>
          </div>
        </div>
        <!-- Start MAinmenu Ares -->
        <div class="col-md-8 col-lg-8 col-sm-6 col-xs-6">
          <nav class="mainmenu__nav d-sm-none d-md-block">
            <ul class="main__menu">
              <li class="drop"><a routerLink="/">Home</a></li>
              <li class="drop"><a href="portfolio-card-box-2.html">portfolio</a>
                <ul class="dropdown">
                  <li><a href="portfolio-card-box-2.html">portfolio</a></li>
                  <li><a href="single-portfolio.html">Single portfolio</a></li>
                </ul>
              </li>
              <li class="drop"><a href="blog.html">Blog</a>
                <ul class="dropdown">
                  <li><a href="blog.html">blog 3 column</a></li>
                  <li><a href="blog-details.html">Blog details</a></li>
                </ul>
              </li>
              <li class="drop"><a href="shop.html">Shop</a>
                <ul class="dropdown mega_dropdown">
                  <!-- Start Single Mega MEnu -->
                  <li><a class="mega__title" href="shop.html">shop layout</a>
                    <ul class="mega__item">
                      <li><a href="shop.html">default shop</a></li>
                    </ul>
                  </li>
                  <!-- End Single Mega MEnu -->
                  <!-- Start Single Mega MEnu -->
                  <li><a class="mega__title" href="shop.html">product details layout</a>
                    <ul class="mega__item">
                      <li><a href="product-details.html">tab style 1</a></li>
                    </ul>
                  </li>
                  <!-- End Single Mega MEnu -->
                  <!-- Start Single Mega MEnu -->
                  <li>
                    <ul class="mega__item">
                      <li>
                        <div class="mega-item-img">
                          <a href="shop.html">
                            <img src="/assets/image/feature-img/3.png" alt="">
                          </a>
                        </div>
                      </li>
                    </ul>
                  </li>
                  <!-- End Single Mega MEnu -->
                </ul>
              </li>
              <li class="drop"><a href="#">pages</a>
                <ul class="dropdown">
                  <li><a href="about.html">about</a></li>
                  <li><a href="#">testimonials <span><i class="zmdi zmdi-chevron-right"></i></span></a>
                    <ul class="lavel-dropdown">
                      <li><a href="customer-review.html">customer review</a></li>
                    </ul>
                  </li>
                  <li><a href="shop.html">shop</a></li>
                  <li><a href="shop-sidebar.html">shop sidebar</a></li>
                  <li><a href="product-details.html">product details</a></li>
                  <li><a href="cart.html">cart</a></li>
                  <li><a href="wishlist.html">wishlist</a></li>
                  <li><a href="checkout.html">checkout</a></li>
                  <li><a href="team.html">team</a></li>
                  <li><a href="login-register.html">login & register</a></li>
                </ul>
              </li>
              <li><a href="contact.html">contact</a></li>
            </ul>
          </nav>
          <div class="mobile-menu clearfix d-none d-sm-block d-md-none">
            <nav id="mobile_dropdown">
              <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#">portfolio</a>
                  <ul>
                    <li><a href="portfolio-card-box-2.html">portfolio</a></li>
                    <li><a href="single-portfolio.html">Single portfolio</a></li>
                  </ul>
                </li>
                <li><a href="blog.html">blog</a>
                  <ul>
                    <li><a href="blog.html">blog 3 column</a></li>
                    <li><a href="blog-details.html">Blog details</a></li>
                  </ul>
                </li>
                <li><a href="#">pages</a>
                  <ul>
                    <li><a href="about.html">about</a></li>
                    <li><a href="customer-review.html">customer review</a></li>
                    <li><a href="shop.html">shop</a></li>
                    <li><a href="shop-sidebar.html">shop sidebar</a></li>
                    <li><a href="product-details.html">product details</a></li>
                    <li><a href="cart.html">cart</a></li>
                    <li><a href="wishlist.html">wishlist</a></li>
                    <li><a href="checkout.html">checkout</a></li>
                    <li><a href="team.html">team</a></li>
                    <li><a href="login-register.html">login & register</a></li>
                  </ul>
                </li>
                <li><a href="contact.html">contact</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- End MAinmenu Ares -->
        <div class="col-md-2 col-sm-4 col-xs-3">
          <ul class="menu-extra">
            <li class="search d-sm-block" (click)="openSearch()">
              <span class="ti-search"></span>
            </li>
            <li class="cart__menu" (click)="open(cart_modal)">
              <span class="ti-shopping-cart"></span>
            </li>
          </ul>
        </div>
      </div>
      <div class="mobile-menu-area"></div>
    </div>
  </div>
  <!-- End Mainmenu Area -->
</header>
<div class="body__overlay"></div>
<div class="offset__wrapper" [ngClass]="{'search__box__show__hide': searching}">
  <!-- Start Search Popup -->
  <div class="search__area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="search__inner">
            <form formGroup="formSearch" (submit)="onSearch($event)">
              <input placeholder="Search here... " type="text">
              <button type="submit"></button>
            </form>
            <div class="search__close__btn">
              <span class="search__close__btn_icon" (click)="openSearch()"><i class="zmdi zmdi-close"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Search Popup -->
  <!-- Start Cart Panel -->
  <ng-template #cart_modal let-modal>
    <div class="modal-header">
      <div class="w-100">
        <h4 class="modal-title">{{'cart.title' | translate}}</h4>
        <h5 class="modal-sub-title">
          <span class="text-primary">{{itemAmount}}</span> {{'cart.amount' | translate}}
        </h5>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngIf="items && items.length > 0" class="shp__cart__wrap">
        <div *ngFor="let item of items | slice:0:2" class="shp__single__product">
          <div class="shp__pro__thumb">
            <a href="#">
              <img src="{{item.image}}" alt="product images">
            </a>
          </div>
          <div class="shp__pro__details">
            <h2><a href="product-details.html">{{item.name}}</a></h2>
            <span class="quantity">QTY: {{item.quantity}}</span>
            <span class="shp__price">${{item.price}}</span>
          </div>
          <div class="remove__btn">
            <a href="#" title="Remove this item" (click)="removeItem($event, item.id)"><i
              class="zmdi zmdi-close"></i></a>
          </div>
        </div>
        <div *ngIf="items && items.length > 2">
          <p class="ps-1 fst-italic">{{'cart.text_more' | translate}}</p>
        </div>
      </div>
      <div *ngIf="items && items.length == 0" class="m-3">
        <p class="w-100 text-center font-italic">{{'cart.empty_cart'|translate}}</p>
      </div>
      <ul *ngIf="items && items.length > 0" class="shoping__total">
        <li class="subtotal">{{'cart.total' | translate}}</li>
        <li class="total__price">${{totalAmount}}</li>
      </ul>
    </div>
    <div class="modal-footer">
      <a class="btn btn-outline-info" routerLink="/cart" (click)="modal.dismiss()">
        {{'cart.btn_view_cart' | translate}}
      </a>
      <button type="button" class="btn btn-outline-primary" (click)="checkout()">
        {{'cart.btn_checkout' | translate}}
      </button>
    </div>
  </ng-template>
  <!-- End Cart Panel -->
</div>
