<header class="bg-light">
  <div class="container">
    <div class="col-12 d-flex justify-content-center navbar-light">
      <div class="col-sm-6 col-md-2">
        <img class="img logo" src="/assets/image/logo.svg" alt="logo"/>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}"
               routerLink="{{'menu.home.href' | translate}}">{{'menu.home.name' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="'active'"
               routerLink="{{'menu.about.href' | translate}}">{{'menu.about.name' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="'active'"
               routerLink="{{'menu.product.href' | translate}}">{{'menu.product.name' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="'active'"
               routerLink="{{'menu.new.href' | translate}}">{{'menu.new.name' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="'active'"
               routerLink="{{'menu.contact.href' | translate}}">{{'menu.contact.name' | translate}}</a>
          </li>
        </ul>
      </div>
      <div class="topbar float-right navbar">
        <div class="nav-item navbar-nav">
          <a class="nav-link" role="button" (click)="toggleSearch()">
            <i class="fas fa-search"></i>
          </a>
        </div>
        <div class="nav-item navbar-nav">
          <a class="nav-link dropdown-toggle" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-globe"></i>
          </a>
          <div class="language-popup dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
               aria-labelledby="language">
            <a class="dropdown-item" role="button" [ngClass]="{'active': lang === 'vn'}"
               (click)="changeLanguage($event, 'vn')">
              {{'language.vn.name' | translate}}
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" role="button" [ngClass]="{'active': lang === 'en'}"
               (click)="changeLanguage($event, 'en')">
              {{'language.en.name' | translate}}
            </a>
          </div>
        </div>
        <div class="nav-item navbar-nav">
          <a class="nav-link" role="button" (click)="open(cart_modal)">
            <i class="fas fa-shopping-cart"></i>
            <span class="badge bg-danger badge-counter">{{itemAmount > 3 ? '3+' : itemAmount}}</span>
          </a>
        </div>
      </div>
    </nav>
  </div>
</header>
<!-- Start Search Popup -->
<div class="search_area bg-secondary" [ngClass]="{'search_box_show_hide': searching}">
  <div class="container">
    <div class="row">
      <div class="col-md-12 my-5">
        <form class="form-inline mr-auto mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
          <div class="input-group col">
            <input type="text" class="form-control small" placeholder="Search for..."
                   aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">
                <i class="fas fa-search fa-sm"></i>
              </button>
            </div>
          </div>
          <div class="search_close_btn" role="button">
            <span class="search_close_btn_icon" (click)="toggleSearch()"><i class="fa fa-times-circle"></i></span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End Search Popup -->
<!-- Start Cart Panel -->
<ng-template #cart_modal let-modal>
  <div class="cart">
    <div class="modal-header">
      <div class="w-100">
        <h4 class="modal-title">{{'cart.title' | translate}}</h4>
        <h5 class="modal-sub-title">
          <span class="text-primary">{{itemAmount}}</span> {{'cart.amount' | translate}}
        </h5>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngIf="items && items.length > 0">
        <div *ngFor="let item of items | slice:0:2" class="cart-item row mt-3">
          <div class="cart_thumb col-md-4">
            <a href="#">
              <img src="{{baseUrl + item.product.images[0]?.uri}}" alt="product images">
            </a>
          </div>
          <div class="cart_details col-md">
            <h3><a routerLink="/product/{{item.product.slug}}">{{item.product.name}}</a></h3>
            <span class="quantity">{{'cart.quantity_less' | translate}}: {{item.quantity}}</span><br/>
            <span class="quantity" *ngFor="let entry of item.options">
                {{getOptionType(item, entry).name}}: {{getOption(item, entry).value}}
            </span><br/>
            <span class="shp__price">
              {{'cart.price' | translate}}: {{item.product.price | numberFormat}} {{'vnd' | translate}}
            </span><br/>
            <span class="shp__price" *ngIf="item.quantity && item.quantity > 1">
              {{'cart.total_price' | translate}}: {{item.price | numberFormat}} {{'vnd' | translate}}
            </span>
          </div>
          <div class="remove_btn col-md-auto mx-2">
            <a href="#" title="{{'delete_product_title' | translate}}" (click)="removeItem($event, item)"><i
              class="zmdi zmdi-close"></i></a>
          </div>
        </div>
        <div *ngIf="items && items.length > 2">
          <p class="ps-1 fst-italic">{{'cart.text_more' | translate}}</p>
        </div>
      </div>
      <div *ngIf="items && items.length == 0" class="m-3">
        <p class="w-100 text-center font-italic">{{'cart.empty_cart'|translate}}</p>
      </div>
      <hr>
      <div *ngIf="items && items.length > 0" class="shoping_total d-flex justify-content-between">
        <span class="subtotal">{{'cart.total' | translate}}</span>
        <span class="total__price">{{totalAmount | number}} {{'vnd' | translate}}</span>
      </div>
    </div>
    <div class="modal-footer">
      <a class="btn btn-outline-info" routerLink="{{'menu.cart.href' | translate}}" (click)="modal.dismiss()">
        {{'cart.btn_view_cart' | translate}}
      </a>
      <a class="btn btn-outline-info" routerLink="{{'menu.checkout.href' | translate}}" (click)="modal.dismiss()">
        {{'cart.btn_checkout' | translate}}
      </a>
    </div>
  </div>
</ng-template>
<app-confirm
  [title]="deleteTitle"
  [content]="deleteContent"
></app-confirm>
<!-- End Cart Panel -->
