<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-3 text-gray-800">{{'mail_template.header' | translate}}</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="my-2 font-weight-bold text-primary">{{'mail_template.table_name' | translate}}</h6>
    </div>
    <div class="card-body">
      <div class="card-header py-3 d-flex justify-content-between">
        <div class="col-auto px-0">
          <button class="btn btn-primary" (click)="openModal(template)">{{'mail_template.btn_new' | translate}}</button>
        </div>
        <div class="col-auto px-0">
          <form [formGroup]="formSearch" (submit)="search($event)"
                class="d-none d-sm-inline-block form-inline ml-md-3 my-2 my-md-0 mw-100">
            <div class="input-group">
              <input type="text" class="form-control bg-light small" formControlName="keyword"
                     placeholder="{{'mail_template.table_search' | translate}}"
                     aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary">
                  <i class="far fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th>{{'mail_template.no' | translate}}</th>
              <th>{{'mail_template.code' | translate}}</th>
              <th>{{'mail_template.name' | translate}}</th>
              <th>{{'mail_template.status' | translate}}</th>
              <th class="min"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let t of templates, let i = index">
              <td>{{i + 1}}</td>
              <td>{{t.code}}</td>
              <td>{{t.name}}</td>
              <td>{{getStatusName(t.status) | translate}}</td>
              <td class="min">
                <a role="button" class="mr-2" (click)="openModal(template, t)">
                  <i class="far fa-edit"></i>
                </a>
                <a role="button" class="mr-2" (click)="delete(deleteTemplate, t)"><i class="fa fa-trash-alt"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-md-between mt-3" *ngIf="totalItem >= currentItems">
        <div>
          Showing {{(page - 1) * size + 1}} - {{(page - 1) * size + currentItems}} of {{totalItem}} items
        </div>
        <div>
          <ngb-pagination
            [(page)]="page"
            [pageSize]="size"
            [maxSize]="5"
            [collectionSize]="totalItem"
            [ellipses]="true"
            (pageChange)="onPageChange()"
          >
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>

  <ng-template #template let-modal class="modal-lg">
    <div class="modal-header">
      <div class="w-100">
        <h4
          class="modal-title">{{(currentTemplate ? 'mail_template.modal.title_update' : 'mail_template.modal.title_add') | translate}}</h4>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="formUpdate">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="form-group">
              <label>{{'mail_template.code' | translate}}</label>
              <input type="text" class="form-control" placeholder="{{'mail_template.code_placeholder' | translate}}"
                     formControlName="code">
              <small class="form-text text-danger" *ngIf="submitted && formUpdate.controls.code.errors?.required">
                {{'mail_template.code_required' | translate}}
              </small>
              <small class="form-text text-danger" *ngIf="submitted && formUpdate.controls.code.errors?.pattern">
                {{'mail_template.code_not_valid' | translate}}
              </small>
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="form-group">
              <label>{{'mail_template.name' | translate}}</label>
              <input type="text" class="form-control" placeholder="{{'mail_template.name_placeholder' | translate}}"
                     formControlName="name">
              <small class="form-text text-danger" *ngIf="submitted && formUpdate.controls.name.invalid">
                {{'mail_template.name_required' | translate}}
              </small>
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="form-group">
              <label>{{'mail_template.subject' | translate}}</label>
              <input type="text" class="form-control" placeholder="{{'mail_template.subject_placeholder' | translate}}"
                     formControlName="subject">
              <small class="form-text text-danger" *ngIf="submitted && formUpdate.controls.subject.invalid">
                {{'mail_template.subject_required' | translate}}
              </small>
            </div>
          </div>
          <div class="col-md-6 col-12 mt-2 mt-md-0">
            <div class="form-group">
              <label>{{'mail_template.status' | translate}}</label>
              <select class="form-control" formControlName="status">
                <option value="">{{'choose' | translate}}</option>
                <option *ngFor="let s of statuses" [value]="s.value">{{s.name | translate}}</option>
              </select>
              <small class="form-text text-danger" *ngIf="submitted && formUpdate.controls.status.invalid">
                {{'mail_template.status_required' | translate}}
              </small>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label>{{'mail_template.message' | translate}}
                <em>({{'mail_template.using' |translate}} <a href="#" (click)="openCkEditor($event)">Editor</a>)</em>
              </label>
              <textarea type="text" class="form-control"
                        placeholder="{{'mail_template.message_placeholder' | translate}}"
                        formControlName="message" rows="3"></textarea>
              <small class="form-text text-danger" *ngIf="submitted && formUpdate.controls.message.invalid">
                {{'mail_template.message_required' | translate}}
              </small>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-outline-secondary" (click)="modal.dismiss()">
        {{'mail_template.modal.btn_cancel' | translate}}
      </button>
      <button class="btn btn-outline-primary" (click)="submit(modal)">
        {{'mail_template.modal.btn_submit' | translate}}
      </button>
    </div>
  </ng-template>
  <ng-template #deleteTemplate let-modalDelete>
    <div class="modal-header">
      <div class="w-100">
        <h4 class="modal-title text-left font-weight-bold">{{'mail_template.modal.title_delete' | translate}}</h4>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="modalDelete.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body"
         innerHtml="{{'mail_template.modal.message_delete' | translate : {name: currentTemplate?.name} }}">
    </div>
    <div class="modal-footer">
      <button class="btn btn-outline-secondary" (click)="modalDelete.dismiss()">
        {{'mail_template.modal.btn_cancel' | translate}}
      </button>
      <button class="btn btn-outline-danger" (click)="modalDelete.close('ok')">
        {{'mail_template.modal.btn_delete' | translate}}
      </button>
    </div>
  </ng-template>
</div>
<app-ckeditor [title]="'mail_template.message'"></app-ckeditor>
