<div class="col-12" *ngIf="newsList && newsList.length > 0">
  <div class="row my-2">
    <div class="col-auto align-self-center px-0" *ngIf="newsList.length > 4">
      <span role="button" class="control" (click)="previous()"><i class="fa fa-chevron-left"></i></span>
      <span class="sr-only control" (click)="previous()">{{'slider-image.previous' | translate}}</span>
    </div>
    <div class="col o-hidden">
      <div #slider class="slider">
        <div class="slide" *ngFor="let news of newsList, index as i">
          <div class="row" id="slide-{{i}}">
            <div class="col-12">
              <img class="image-cover" src="{{baseUrl + news.image.uri}}" alt="{{news.image.fileName}}"/>
            </div>
            <div class="col-12 mt-2">
              <h3><a routerLink="{{'menu.news.href' | translate}}/{{news.slug}}">{{news.name}}</a></h3>
              <div class="w-100 pt-2 text-ellipsis" [innerHTML]="news.description"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-auto align-self-center px-0" *ngIf="newsList.length > 4">
      <span role="button" class="control" (click)="next()"><i class="fa fa-chevron-right"></i></span>
      <span class="sr-only control" (click)="next()">{{'slider-image.next' | translate}}</span>
    </div>
  </div>
</div>
