<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-3 text-gray-800">{{'option_type.header' | translate}}</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="my-2 font-weight-bold text-primary">{{'option_type.table_name' | translate}}</h6>
    </div>
    <div class="card-body">
      <div class="card-header py-3 d-flex justify-content-between">
        <div class="col-auto px-0">
          <button class="btn btn-primary" (click)="openModal(option)">{{'option_type.btn_new' | translate}}</button>
        </div>
        <div class="col-auto px-0">
          <form [formGroup]="formSearch" (submit)="search($event)"
                class="d-none d-sm-inline-block form-inline ml-md-3 my-2 my-md-0 mw-100">
            <div class="input-group">
              <input type="text" class="form-control bg-light small" formControlName="keyword"
                     placeholder="{{'option_type.table_search' | translate}}"
                     aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th>{{'option_type.no' | translate}}</th>
              <th>{{'option_type.name' | translate}}</th>
              <th>{{'option_type.description' | translate}}</th>
              <th>{{'option_type.status' | translate}}</th>
              <th class="min"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let o of options, let i = index">
              <td>{{i + 1}}</td>
              <td>{{o.name}}</td>
              <td>{{o.description}}</td>
              <td>{{getStatusName(o.status) | translate}}</td>
              <td class="min">
                <a role="button" class="mr-2" (click)="delete(deleteOption, o)"><i class="fa fa-trash-alt"></i></a>
                <a role="button" class="mr-2" (click)="openModal(option, o)"><i
                  class="fa fa-edit"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-md-between mt-3" *ngIf="totalItem >= currentItems">
        <div>
          Showing {{(page - 1) * size + 1}} - {{(page - 1) * size + currentItems}} of {{totalItem}} items
        </div>
        <div>
          <ngb-pagination
            [(page)]="page"
            [pageSize]="size"
            [maxSize]="5"
            [collectionSize]="totalItem"
            [ellipses]="true"
            (pageChange)="onPageChange()"
          >
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>

  <ng-template #option let-modal>
    <div class="modal-header">
      <div class="w-100">
        <h4
          class="modal-title">{{(selectedOption ? 'option_type.modal.title_update' : 'option_type.modal.title_add') | translate}}</h4>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="formUpdate">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="form-group">
              <label>{{'option_type.name' | translate}}</label>
              <input type="text" class="form-control" placeholder="{{'option_type.name_placeholder' | translate}}"
                     formControlName="name">
              <small class="form-text text-danger" *ngIf="submitted && formUpdate.controls.name.invalid">
                {{'option_type.name_not_blank' | translate}}
              </small>
            </div>
          </div>
          <div class="col-md-12 col-sm-12">
            <div class="form-group">
              <label>{{'option_type.description' | translate}}</label>
              <input type="email" class="form-control"
                     placeholder="{{'option_type.description_placeholder' | translate}}"
                     formControlName="description">
            </div>
          </div>
          <div class="col-md-12 col-sm-12">
            <div class="form-group">
              <label>{{'option_type.status' | translate}}</label>
              <select class="form-control" formControlName="status">
                <option value="">{{'choose' | translate}}</option>
                <option *ngFor="let s of statuses" [value]="s.value">{{s.name | translate}}</option>
              </select>
              <small class="form-text text-danger" *ngIf="submitted && formUpdate.controls.status.invalid">
                {{'option_type.status_error' | translate}}
              </small>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-outline-secondary" (click)="modal.dismiss()">
        {{'option_type.modal.btn_cancel' | translate}}
      </button>
      <button class="btn btn-outline-primary" (click)="submit(modal)">
        {{'option_type.modal.btn_submit' | translate}}
      </button>
    </div>
  </ng-template>
  <ng-template #deleteOption let-modal>
    <div class="modal-header">
      <div class="w-100">
        <h4 class="modal-title text-left font-weight-bold">{{'option_type.modal.title_delete' | translate}}</h4>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body"
         innerHtml="{{'option_type.modal.message_delete' | translate : {name: selectedOption?.name} }}">
    </div>
    <div class="modal-footer">
      <button class="btn btn-outline-secondary" (click)="modal.dismiss()">
        {{'option_type.modal.btn_cancel' | translate}}
      </button>
      <button class="btn btn-outline-danger" (click)="modal.close('ok')">
        {{'option_type.modal.btn_delete' | translate}}
      </button>
    </div>
  </ng-template>
</div>
